<div class="order-0">
    <a href="{{ path('app_homepage') }}" class="navbar-brand block">
        <img src="{{ asset('build/app/shop/images/logo.webp', 'shop') }}" alt="SeineConnect – Opérateur et intégrateur Local" style="height:35px;width:260px" width="520" height="70" loading="lazy" decoding="async" />
    </a>
</div>
