{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <section class="section banner relative">
        <div class="container">
            <div class="row items-center particle-network-animation" data-controller="particules">
                <div class="lg:col-6 z-10">
                    <h1 class="banner-title backdrop-blur-sm">Votre Opérateur Local, Créateur d'Internet sur Mesure en
                        Seine-Maritime!</h1>

                    <p class="mt-6 backdrop-blur-sm rounded-xl">Découvrez Internet Autrement avec Nous : Votre Opérateur
                        et Intégrateur Local en Seine-Maritime, Fier d'Offrir des Solutions Internet de Proximité
                        Adaptées à vos Besoins!</p>

                    <a class="btn btn-white mt-8" href="#">
                        Contactez-nous
                    </a>
                </div>
                <div class="lg:col-6 ">
                    <img
                        class="object-contain"
                        alt="SeineConnect bannière"
                        width="640"
                        height="426"
                        src="{{ asset('build/app/shop/images/banner-img.webp') }}"
                        loading="eager"
                        decoding="async"
                    >
                </div>
            </div>
        </div>
    </section>
    <section class="section key-feature relative">
        <img
            class="absolute left-0 top-0 -z-[1] -translate-y-1/2"
            src="{{ asset('build/app/shop/images/feature-shape.webp') }}"
            height={126}
            width={75}
            alt=""
        />
        <div class="container">
            <div class="row justify-between text-center lg:text-start">
                <div class="lg:col-5">
                    <h2>Nos services proposés</h2>
                </div>
                <div class="mt-6 lg:col-5 lg:mt-0">
                    <p>Découvrez nos services sur mesure, conçus spécialement pour répondre à vos besoins en
                        Seine-Maritime. Nous proposons des solutions Internet innovantes, de l'intégration à la gestion
                        réseau, en privilégiant la proximité, le service client et la qualité de connexion.</p>
                </div>
            </div>
            <div class="key-feature-grid mt-10 grid grid-cols-2 gap-7 md:grid-cols-3 xl:grid-cols-3">
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Hôtels</h3>
                        <p>Nous boostons la satisfaction client et améliorons la productivité des équipes en connectant
                            tous les services et terminaux métiers.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><polygon
                                points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2"
                                                                                                     x2="8"
                                                                                                     y2="18"></line><line
                                x1="16" y1="6" x2="16" y2="22"></line></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Résidences étudiantes</h3>
                        <p>Nous opérons des réseaux future-proof capables d’absorber l’incroyable croissance de usages
                            internet des étudiantes.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="11"
                                                                                                      width="18"
                                                                                                      height="11" rx="2"
                                                                                                      ry="2"></rect><path
                                d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Campings</h3>
                        <p>Un service Fibre et WiFi 5 étoiles pour accélérer la transformation digitale de tous les
                            professionnels de l’hébergement de plein air.Wifi campings &gt;</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><path
                                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path
                                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg></span>
                </div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Sound Amplifier</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><path
                                d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path
                                d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Smart Reply</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="3"
                                                                                                      width="20"
                                                                                                      height="14" rx="2"
                                                                                                      ry="2"></rect><line
                                x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12"
                                                                            y2="21"></line></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Live Caption</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><polygon
                                points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2"
                                                                                                     x2="8"
                                                                                                     y2="18"></line><line
                                x1="16" y1="6" x2="16" y2="22"></line></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Sound Amplifier</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><path
                                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path
                                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg></span>
                </div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Sound Amplifier</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><path
                                d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path
                                d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Smart Reply</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><polygon
                                points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2"
                                                                                                     x2="8"
                                                                                                     y2="18"></line><line
                                x1="16" y1="6" x2="16" y2="22"></line></svg></span></div>
                <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
                    <div><h3 class="h4 text-xl lg:text-2xl">Live Caption</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <span class="icon mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="3"
                                                                                                      width="20"
                                                                                                      height="14" rx="2"
                                                                                                      ry="2"></rect><line
                                x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12"
                                                                            y2="21"></line></svg></span></div>
            </div>
        </div>
    </section>
    {#    <div class="homepage"> #}
    {#        <div class="ui hidden divider"></div> #}

    {#        {{ sylius_template_event('sylius.shop.homepage') }} #}
    {#    </div> #}
{% endblock %}
